<h1>Add new Resturents</h1>
<div
  *ngIf="alert"
  class="alert alert-success alert-dismissible fade show"
  role="alert"
>
  <strong>Success</strong> Your data has been enetred
  <button
    (click)="closeAlert()"
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<form
  style="width: 50%; margin: 10% auto"
  [formGroup]="addResto"
  (ngSubmit)="collectResto()"
>
  <div class="first-div" *ngIf="variable == 1">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Name</label>
      <input
        formControlName="name"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> address </label>
      <input
        formControlName="address"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        required
      />
    </div>
  </div>
  <div class="personal-detailed" *ngIf="variable == 2">
    <label for="exampleInputEmail1" class="form-label">Father Name</label>
    <input
      formControlName="fathername"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      required
    />
    <label for="exampleInputEmail1" class="form-label"> hobbies</label>
    <input
      formControlName="hobies"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      required
    />
    <label for="exampleInputEmail1" class="form-label"> Telephone No</label>
    <input
      formControlName="telephoneNo"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      required
    />
    <input type="radio" value="male" formControlName="gender" required /> Male
    <input type="radio" value="female" formControlName="gender" required />
    Female
  </div>

  <div class="heading" *ngIf="variable == 3">
    <p>form 3 submi t</p>
    <input
      formControlName="Skills"
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      required
    />
    <label for="gender"> gender </label>
    <select name="gender" id="cars" formControlName="department" required>
      <option value="male">male</option>
      <option value="female">female</option>
      <option value="transgender">transgender</option>
    </select>
    <br />
    <label for="education"> Education </label>
    <select name="education" id="cars" formControlName="education" required>
      <option value="matric">matric</option>
      <option value="inter">inter</option>
      <option value="graduation">graduation</option>
      <option value="master">master</option>
    </select>
  </div>

  <br />
  <button
    *ngIf="variable == 3"
    [disabled]="addResto.invalid"
    type="submit"
    class="btn btn-primary"
  >
    Submit
  </button>
  <button
    *ngIf="variable > 1"
    (click)="previouse()"
    type="button"
    class="btn btn-primary"
  >
    Previouse
  </button>

  <button
    (click)="next()"
    type="button"
    class="btn btn-primary"
    [disabled]="addResto.invalid"
    *ngIf="variable < 3"
  >
    Next
  </button>
</form>

<!-- // new content  -->
<div
  class="flex items-center justify-center min-h-screen from-teal-100 via-teal-300 to-teal-500 bg-gradient-to-br"
>
  <div class="w-full max-w-lg px-10 py-8 mx-auto bg-white rounded-lg shadow-xl">
    <div class="max-w-md mx-auto space-y-6">
      <form action="">
        <h2 class="text-2xl font-bold">Submit your application</h2>
        <p class="my-4 opacity-70">
          Adipisicing elit. Quibusdam magnam sed ipsam deleniti debitis
          laboriosam praesentium dolorum doloremque beata.
        </p>
        <hr class="my-6" />
        <label class="uppercase text-sm font-bold opacity-70">Name</label>
        <input
          type="text"
          class="p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"
        />
        <label class="uppercase text-sm font-bold opacity-70">Email</label>
        <input type="text" class="p-3 mt-2 mb-4 w-full bg-slate-200 rounded" />
        <label class="uppercase text-sm font-bold opacity-70">Language</label>
        <select
          class="w-full p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"
        >
          <option value="">Javascript</option>
          <option value="">Ruby</option>
          <option value="">Python</option>
          <option value="">PHP</option>
          <option value="">Java</option>
        </select>
        <div class="my-2 font-medium opacity-70">
          <input type="checkbox" />
          Subscribe and follow company updates.
        </div>
        <input
          type="submit"
          class="py-3 px-6 my-2 bg-emerald-500 text-white font-medium rounded hover:bg-indigo-500 cursor-pointer ease-in-out duration-300"
          value="Send"
        />
      </form>
    </div>
  </div>
</div>
